

.cart_order_wrapper {
    width: 100%;
    max-width: 429px;
    max-height: 1809px;
}

.cart_order_wrapper .container {
    display: flex;
    flex-direction: column;
    width: inherit;
    max-width: 429px;
    min-height: 572px;
    position: relative;
    top: -12px;
    padding: 16px 24px 24px 24px;
    gap: 24px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.price_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 381px;
    height: 100%;
    min-height: 420px;
}

.total_price_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.total_price {
    display: flex;
    justify-content: space-between;
    height: 33px;
    width: 100%;
    max-width: 381px;
}

.total_title, .total_count {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
}

.total_count {
    position: relative;
    left: 2px;
}

.cart_order {
    height: 100%;
    min-height: 72px;
    width: 100%;
    max-width: 381px;
}

.cart_item {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 1);
    width: inherit;
    height: 24px;
}

/*delivery_container*/
.delivery_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 381px;
    min-height: 129px;
}

.delivery_point {
    width: 100%;
    max-width: 381px;
    min-height: 65px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 8px;
}

.delivery_point_header {
    width: inherit;
    min-height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.delivery_point_header .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.delivery_point_header .edit_icon {
    width: 20px;
    height: 20px;
}

.delivery_point_header .edit_icon svg {
    position: relative;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
}

.delivery_address {
    width: inherit;
    min-height: 16px;
    /*display: flex;*/
    /*flex-direction: column;*/
    gap: 8px;
}

.delivery_address .title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    bottom: 4px;
}

.delivery_date {
    height: 17px;
    display: flex;
    gap: 1px;
}

.delivery_date .title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(203, 17, 171, 1);
    border-bottom: 1px dashed rgba(203, 17, 171, 1);
}

/*return_delivery*/
.return_delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 381px;
    height: 52px;
    border-radius: 8px;
    padding: 8px 8px 12px 8px;
    box-sizing: border-box;
    background: rgba(246, 246, 250, 1);
}

.check_mark_icon {
    width: 22px;
    height: 22px;
}

.check_mark_icon svg {
    width: inherit;
    height: inherit;
}

.free_delivery {
    height: 32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    max-width: 335px;
    color: rgba(0, 0, 0, 1);

}

.free_delivery .free{
    color: rgba(12, 180, 119, 1);
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

/*purchase_card*/
.purchase_card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 381px;
    height: 130px;
}

.card_selection {
    width: 100%;
    max-width: 381px;
    height: 52px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.purchase_card_header {
    display: flex;
    height: 24px;
    justify-content: space-between;
    gap: 16px;
}

.purchase_card_header .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.selected_card {
    width: 100%;
    max-width: 381px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card_icon {
    width: 32px;
    height: 24px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    background: rgba(246, 246, 250, 1);
    /*gap: 8px;*/
}

.card_number {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
}

.write-off-payment {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 381px;
    /*height: 200px;*/
    background: rgba(246, 246, 250, 1);
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
    gap: 8px;
}

.debiting_immediately {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 365px;
    height: 22px;
    border-radius: 8px;
    gap: 8px;
}

.debiting_immediately .text {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.checkbox {
    display: flex;
    align-items: center;
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
}

.debiting_info {
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
}

/*order_btn*/
.order_btn_wrapper {
    width: 100%;
    max-width: 381px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.order_btn button {
    width: 100%;
    max-width: 381px;
    height: 44px;
    border-radius: 8px;
    padding: 0 32px 5px 32px;
    background: rgba(203, 17, 171, 1);
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.order_btn button span {
    position: relative;
    top: 2px;
}

.agreement {
    display: flex;
    justify-content: space-between;
}

.agreement_svg {
    width: 13px;
    height: 24px;
}

.agreement_svg svg {
    position: relative;
    bottom: 3.32px;
    left: 0.26px;
    width: 12.51px;
    height: 10.16px;
}

.agreement_info {
    width: 100%;
    max-width: 360px;
    height: 32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}