.cart_count {
    position: absolute;
    top: -4px;
    right: 5px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: end;
}

.cart_count div {
    min-width: 16px;
    height: 16px;
    box-sizing: border-box;
    padding: 0 2px;
    border-radius: 16px;
    background: rgba(245, 81, 35, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 1;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
}

.delivery_order_img .cart_count {
    position: absolute;
    top: -9px;
    right: -4px;
}

.delivery_order_img .cart_count div{
    padding: 0 4px;
}