.cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 891px;

    max-height: 1809px;
    gap: 27px;
}

.cart_header h1 {
    position: relative;
    left: 1px;
    top: 1px;
    width: 100%;
    max-width: 114px;
    height: 36px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #000;
    /*letter-spacing: -1%;*/
}

.cart_main {
    width: 100%;
    max-width: 891px;
    max-height: 1809px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.in_stock_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 891px;
}

/*choose_all*/

.choose_all {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 14px;
    width: 100%;
    max-width: 891px;
    position: relative;
}

.choose_all::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}

.choose_all_arrow {
    max-width: 827px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.choose_all_text {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 0 5px 0;
    gap: 8px;
}

.choose_all_text span {
    position: relative;
    right: 3.5px;
    /*top: 0.2px;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /*bottom: 0.2px;*/
    /*top: -1px;*/
}

.arrow_up {
    display: flex;
    align-items: center;
}

.arrow_down {
    display: none;
    align-items: center;
}

/*added_cart*/


.added_cart {
    display: flex;
    gap: 20px;
    max-width: 891px;
    width: 100%;
    position: relative;
    bottom: 3px;
}

.added_cart.absent {
}

.added_cart.absent {
    position: relative;
    top: 2px;
}


/*.added_cart:nth-child(2)::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background: rgba(0, 0, 0, 0.1);*/
/*}*/

/*.added_cart.absent:nth-child(1)::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background: rgba(0, 0, 0, 0.1);*/
/*}*/

/*.added_cart.absent:nth-child(2)::before {*/
/*    content: "";*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background: rgba(0, 0, 0, 0.1);*/
/*}*/

.added_cart:nth-child(4) {
    position: relative;
    bottom: 7px;
}

.added_cart_item {
    width: 100%;
    max-width: 665px;
    height: 100%;
    min-height: 108px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 12px 0 0 0;
    box-sizing: border-box;
}

.checkbox_image {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 106px;
    height: 96px;
}

.checkbox_image.absent {
    width: 72px;
}

.checkbox_item {
    display: flex;
    align-items: center;
}

.checkbox_item.absent {
    display: none;
}

.order_img {
    width: 72px;
    height: 96px;
    border-radius: 8px;
}

.order_img img.absent-bg {
    filter: grayscale(100%);
}

.order_img img {
    width: inherit;
    height: inherit;
    border-radius: 8px;
}

.order_info_component {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    width: 100%;
    max-width: 543px;
    min-height: 96px;
    height: 100%;

    position: relative;
}

.order_info_component.absent {
    width: 100%;
    max-width: 563px;
    justify-content: flex-start;
}

.order_title {
    position: relative;
    top: 1px;
    right: 1px;
    width: 275px;
    /*height: 100%;*/
    /*min-height: 24px;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.order_title:hover {
    cursor: pointer;
}

.order_title.absent-color {
    color: rgba(151, 151, 175, 1);
    width: 309px;
}

.order_color_size {
    display: flex;
    gap: 16px;
    width: inherit;
    min-height: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
}

.order_color_size.absent-color {
    color: rgba(151, 151, 175, 1);
    width: 309px;
}

.selling_company {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: inherit;
    min-height: 36px;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(151, 151, 175, 1);
    z-index: 1;
}

.selling_company.absent {
    display: none;
}


.popupCompany {
    position: absolute;
    left: 2px;
    display: none;
    bottom: -103px;

    width: 100%;
    max-width: 280px;
    border-radius: 8px;
    min-height: 104px;

    box-shadow: 0px 0px 1px 0px #0000004D, 0px 2px 10px 0px #00000026;
    background: #FFFFFF;
    z-index: 1;
}

.popupCompany_container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    padding: 0 16px;
    gap: 8px;

    color: #000;
}

.popupCompany_container h5 {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.popupCompany_container p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.text_wb {
    position: relative;
    right: 1px;
}

.selling_company_info {
    position: relative;
    bottom: 3px;
    left: 1px;
    display: flex;
    align-items: center;
    gap: 6px
}


.selling_company_icon {
    position: relative;
    bottom: 1px;
    right: 1px;
    display: flex;
}

.selling_company_icon:hover {
    cursor: pointer;
}

/*added_cart_count_price*/
.added_cart_count_price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 226px;
    min-height: 108px;
    gap: 16px;

    position: relative;
    top: 9px;
}

.added_cart_count {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 3px 0 0 0;
    width: 100%;
    max-width: 100px;
    height: 100%;
    min-height: 99px;

    position: relative;
    bottom: 1px;
    right: 1px;

}

.added_cart_count .counter {
    width: inherit;
    height: 44px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.added_cart_count .counter.absent,
.count_left.absent {
    display: none;
}

.added_cart_count .counter .count {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 44px;
    height: 23px;
    text-align: center;
    position: relative;
    bottom: 3px;
    left: 1px;
}

.added_cart_count .counter .decrement, .increment {
    width: 24px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /*letter-spacing: -1%;*/
    text-align: center;
}

.added_cart_count .counter .increment span {
    position: relative;
    bottom: 2.5px;
}

.increment:hover,
.decrement:hover {
    cursor: pointer;
}

.added_cart_count .counter .decrement {
    position: relative;
    left: 3px;
    bottom: 1px;
}

.increment.disabled,
.decrement.disabled {
    color: rgba(0, 0, 0, 0.2);
    cursor: default;
}

.items_left {

}

.count_left {
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 59, 48, 1);
    letter-spacing: -0.3px;
    /*color: rgba(255, 59, 48, 1);*/
}

.favorite_remove {
    display: flex;
    align-items: end;
    justify-content: end;
}

.favorite_remove.absent .favorite_remove_icons svg:hover path {
    fill: #CB11AB;
}

.favorite_remove.absent .favorite_remove_icons svg:hover path {
    fill: #CB11AB;
}

.favorite_remove.absent .favorite.active svg path {
    fill: #CB11AB;

}


.favorite_remove_icons {
    display: flex;
    justify-content: space-between;
    width: 56px;
    height: 20px;
}

.favorite_remove_icons .remove, .favorite {
    width: 20px;
    height: 20px;
}

.favorite_remove_icons svg:hover {
    cursor: pointer;
}

.favorite_remove_icons svg:hover path {
    fill: rgba(245, 81, 35, 1);
}

.favorite.active svg path {
    fill: rgba(245, 81, 35, 1);
}

.remove svg, .favorite svg {
    width: 20px;
    height: 20px;
}


.added_cart_price {
    position: relative;
    /*top: 12px;*/
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 5px;
    width: 100%;
    max-width: 110px;
    height: 100%;
    min-height: 99px;
    color: rgba(0, 0, 0, 1);
}

.added_cart_price.absent {
    display: none;
}

.actual_price {
    display: flex;
    align-items: end;
    justify-content: end;
}

.actual_price h3.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.4px;
    text-align: right;
}

.actual_price h4.price {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
}

.actual_price .currency {
    min-width: 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
}

.old_price {
    width: 100%;
    display: flex;
    justify-content: end;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(151, 151, 175, 1);
}

.old_price:hover {
    cursor: pointer;
}

.old_price .price_currency {
    /*width: 100%;*/
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    text-decoration: line-through;
}

.popup_old_price {
    display: none;
    flex-direction: column;
    gap: 8px;

    position: absolute;
    right: -10px;
    top: 55px;
    width: 100%;
    max-width: 209px;
    border-radius: 8px;
    padding: 11px 16px 13px 16px;
    /*box-sizing: border-box;*/
    background: #FFFFFF;
    z-index: 1;
}

.popup_old_price_discount {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.discount_title {
    width: 100%;
    max-width: 160px;
    color: #A0A0A4;
}

.discount_price {
    width: 100%;
    max-width: 57px;
    color: #000;
}

.discount_title,
.discount_price {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 1024px) {
    .cart {
        width: 100%;
        max-width: 640px;
    }

    .order_info_component {
        position: relative;
        left: 2px;
    }

    .choose_all_arrow .choose_all_text {
        letter-spacing: -0.2px;
        position: relative;
        top: 1px;
    }

    .added_cart .order_img {
        position: relative;
        left: 3px;
        bottom: 1px;
    }

    .selling_company_info {
        position: relative;
        left: 0px;
        bottom: 1px;
    }
}

@media screen and (max-width: 320px) {

    .in_stock_wrapper {
        gap: 16px;
        width: 288px;
        padding: 0 16px;
    }
    .cart {
        box-sizing: border-box;
        /*padding: 0 16px;*/
        display: flex;
        width: 100%;
        max-width: 288px;
        gap: 16px;
    }

    .cart_header {
        padding: 0 16px
    }

    .cart_header h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }

    .header .rounding {
        bottom: -1px;
    }

    .cart_main {
        gap: 48px;
        position: relative;
        bottom: 7px;
    }

    .choose_all {
        max-width: 296px;
        gap: 11px;
    }

    .choose_all::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
    }

    .choose_all_arrow {
        width: 100%;
        position: relative;
        left: 3px;
    }

     .arrow_up, .arrow_down {
        width: 44px;
        height: 44px;
        justify-content: center;
        position: relative;
        left: 2px;
    }

    .checkbox_image {
        top: 5px;
        position: relative;
        width: 80px;
        height: 106px;
    }

    .checkbox_item {
        position: absolute;
        left: 4px;
        top: 3px;
        z-index: 1;
        background: #FFFFFF;
        border-radius: 8px;
    }

    .order_img {
        position: absolute;
        right: 3px;
        width: inherit;
        height: inherit;
    }

    .order_img img {
        position: absolute;
        right: 3px;
        width: inherit;
        height: inherit;
    }

    .order_info_component {
        width: 100%;
        max-width: 192px;
        min-height: 94px;
        height: 100%;
        gap: 4px;
        /*padding-top: 24px;*/
        box-sizing: border-box;
        justify-content: normal;

        position: relative;
        left: 0px;
        top: 3px;
    }

    .order_title {
        max-height: 40px;
        width: inherit;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        top: 0;

        display: -webkit-box;
        -webkit-line-clamp: 2; /* Ограничение количества строк */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        /*white-space: normal; !* Запретить перенос строк *!*/
        /*overflow: hidden; !* Скрывать текст, который не помещается в контейнере *!*/
        /*text-overflow: ellipsis; !* Добавить многоточие (...) к обрезанному тексту *!*/
    }

    .order_color {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }

    .order_size {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .selling_company_info {
        display: none;
    }

    .added_cart {
        flex-direction: column;
        gap: 12px;
    }

    .added_cart::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
    }

    .added_cart_item {
        /*box-sizing: border-box;*/
        /*min-height: 126px;*/
    }

    .added_cart:nth-child(4) {
        position: relative;
        bottom: 0;
    }

    .added_cart_count_price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*height: 100%;*/
        min-height: 32px;
        max-height: 32px;
        gap: 16px;
        width: 100%;
        max-width: 288px;
        /*position: relative;*/
        /*top: 0;*/

    }

    .added_cart_price {
        position: relative;
        top: 3px;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 192px;
        min-height: 24px;
        max-height: 24px;
        /*max-height: 24px;*/
        justify-content: flex-start;
    }

    .actual_price {
        /*width: 100%;*/
        max-width: 104px;
        min-height: 32px;
        max-height: 32px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .actual_price h4.price {
        text-align: left;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.1px;
    }

    .actual_price h3.price {
        letter-spacing: 0.3px;
    }

    .actual_price h3.price, h4.currency{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

    }

    .price_currency {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.4px;
    }

    .old_price {
        position: relative;
        bottom: 3px;
        left: 2px;
        width: auto;
        /*max-width: 79px;*/
        min-height: 32px;
        max-height: 32px;;
        justify-content: center;
        flex-direction: column;
        justify-items: center;
        /*align-items: center;*/
    }

    .old_price .price_currency {
        display: flex;
        /*min-height: 32px;*/
        /*max-height: 32px;*/
    }

    .price_currency {

    }

    .added_cart_count {
        justify-content: space-between;
        flex-direction: row;
        min-height: 32px;
        max-height: 32px;
        max-width: 288px;
        width: 100%;
        padding: 0;
        /*bottom: -1px;*/
    }

    .added_cart_count .counter {
        width: 80px;
        min-height: 32px;
        max-height: 32px;
        background: #fff;
    }

    .selling_company {
        min-height: auto;
        position: relative;
        top: 5px;
        /*bottom: 8px;*/
    }

    .count_left {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 32px;
        min-height: 32px;
        width: 100%;
        max-width: 116px;
    }

    .items_left {
        display: flex;
        align-items: center;
        max-width: 88px;
        width: 88px;
    }

    .favorite_remove {
        width: inherit;
        justify-content: center;

    }

    .favorite_remove_icons {
        width: 60px;
        /*width: inherit;*/
    }

    .favorite_remove_icons .remove {
        position: relative;
        left: 2px;
    }

    .added_cart_count .counter .count {
        font-size: 14px;
        line-height: 20px;
        bottom: 0;
        left: 1px;
    }

    .added_cart_count .counter .decrement {
        position: relative;
        left: 5px;
        bottom: 1px;
    }

    .added_cart_count .counter .increment span {
        position: relative;
        bottom: 0;
    }

    .added_cart_count .counter .increment {
        position: relative;
        bottom: 3px;
        right: 2px;
    }

    .order_size {
        position: absolute;
        bottom: 2px;
        left: -92px;
        background: #FFFFFF;
        width: 22px;
        height: 22px;
        border-radius: 6px;

        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .order_size .size {
        display: none;
    }

    .order_color {
        position: relative;
        top: 3px;
    }
}