main {
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: 1825px;
    padding: 0 24px 16px 24px;
    box-sizing: border-box;
    gap: 32px;
}

@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        max-width: 1024px;
    }
}

@media screen and (max-width: 320px) {
    main {
        display: none;
        width: 100%;
        max-width: 320px;
    }
}