main {
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    max-height: 1825px;
    padding: 0 24px 16px 24px;
    box-sizing: border-box;
    gap: 32px;
}

.error {
    border: 2px solid red; // Можете стилизовать как угодно
}

@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        max-width: 1024px;
    }
}

@media screen and (max-width: 320px) {
    body {
        width: 100%;
        max-width: 320px;
        min-height: 2933px;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        height: 2718px;
        padding: 0 16px;
        position: relative;
        bottom: 10px;
        gap: 32px;
    }
}